.big-header {
    padding-top: 2rem;
    padding-bottom: 2rem;

    h1 {
        font-family: 'Rubik Mono One', sans-serif;
        font-size: 10rem;
    }

    img {
        max-height: 20rem;
    }
}