body {
  margin-bottom: 4rem;
}

.anchor {
  visibility: hidden;
  position: relative;
  top: -8rem;
}

.highlight {
  color: #07684f !important;
}
.highlight-less {
  color: #188c71 !important;
}
.highlight-background {
  background-color: #fbd9bc !important;
}

.caption {
  margin-bottom: 10px;
}

pre {
  padding-top: 2rem !important;
  background-color: initial !important;
  border-color: #fbd9bc;

  &:before {
    background: #fbd9bc !important;
    color: #07684f !important;
  }
}
